<html>

<head>
    <title>Bus sim</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('../template/layout/header') %>
</head>

<body>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <form action="/busSim" method="POST">

        <div class="form-group" hidden>
            <label for="busID" class="control-label">ID</label>
            <input value="<%= buses[0].id %>" name="busID" >
        </div>
        <div class="form-group">
            <label for="CurrentStop" class="control-label">Current stop</label>
            <input value="" name="CurrentStop" id="CurrentStop">
        </div>
        <div class="form-group">
            <label for="nextStop" class="control-label">Next stop</label>
            <input value="<%= buses[0].busLocation.nextStop %>" name="nextStop" id="nextStop">
        </div>
        <div class="form-group">
            <label for="Lat" class="control-label">latitude</label>
            <input value="<%= buses[0].busLocation.lat %>" name="Lat" id="Lat">
        </div>
        <div class="form-group">
            <label for="Lat" class="control-label">longitude</label>
            <input value="<%= buses[0].busLocation.lng %>" name="Lng" id="Lng">
        </div>
        <button class="btn btn-primary">Submit</button>

    </form>

    <button class="btn btn-secondary" onclick="changeBusLocation('Pilgrims Mews')">Pilgrims Mews</button>
    <button class="btn btn-secondary" onclick="changeBusLocation('Railway Station')">Railway Station</button>
    <button class="btn btn-secondary" onclick="changeBusLocation('Western Approach Flats')">Western Approach Flats</button>
    <button class="btn btn-secondary" onclick="changeBusLocation('Western Approach (Stop 2)')">Western Approach (Stop 2)</button>
    <button class="btn btn-secondary" onclick="changeBusLocation('Royal Parade (Stop A11)')">Royal Parade (Stop A11)</button>

</body>
<script>
    function changeBusLocation(name) {
        let stop;
        let lat;
        let lng;
        let current = name;

        switch (name) {
            case "Pilgrims Mews":
                stop = "Railway Station";
                lat = "50.378278";
                lng = "-4.148529";
                break;
            case "Railway Station":
                stop = "Western Approach Flats";
                lat = "50.376983";
                lng = "-4.144634";
                break;
            case "Western Approach Flats":
                stop = "Western Approach (Stop 2)";
                lat = "50.373153";
                lng = "-4.146372";
                break;
            case "Western Approach (Stop 2)":
                stop = "Royal Parade (Stop A11)";
                lat = "50.371069";
                lng = "-4.148383";
                break;
            case "Royal Parade (Stop A11)":
                stop = "Royal Parade (Stop A11)";
                lat = "50.370361";
                lng = "-4.143965";
                break;
            default:
            // code block
        }


        $("#nextStop").val(stop);
        $("#Lat").val(lat);
        $("#Lng").val(lng);
        $("#CurrentStop").val(current);
    }
</script>