<head>
    <title>Bus sim</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('../template/layout/header') %>
</head>
<body>
    <form action="/editbus" method="POST">

        
        <div class="form-group">
            <label for="nextStop" class="control-label">Next Stop</label>
            <input class="form-control" value="<%= buses[busIDNo].busLocation.nextStop %>" name="nextStop" id="nextStop" type="text" required>
        </div>
        <div class="form-group">
            <label for="Lat" class="control-label">Latitude</label>
            <input class="form-control" value="<%= buses[busIDNo].busLocation.lat %>" name="Lat" id="Lat" type="text" required>
        </div>
        <div class="form-group">
            <label for="Lng" class="control-label">Longitude</label>
            <input class="form-control" value="<%= buses[busIDNo].busLocation.lng %>" name="Lng" id="Lng" type="text" required>
        </div>
        
        <div class="form-group">
            <label for="busNo" class="control-label">Bus Number</label>
            <input class="form-control" value="<%= buses[busIDNo].busNo %>" name="busNo" id="busNo" type="number" required>
        </div>
        <input value="<%= buses[busIDNo].id %>" name="busID" id="busID" type="text" required hidden>
        
        <button class="btn btn-primary">Submit</button>
    </form>
</body>