<head>
    <title>Update Routes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('../template/layout/header') %>
</head>
<body>
    <form action="/UpdateRoutes" method="POST">
        <div class="form-group">
            <label for="nextStop" class="control-label">Location</label>
            <input class="form-control" value="Western Approach Flats" name="nextStop" id="nextStop" type="text" required>
        </div>
        <div class="form-group">
            <label for="Lat" class="control-label">Latitude</label>
            <input class="form-control" value=50.373153 name="Lat" id="Lat" type="text" required>
        </div>
        <div class="form-group">
            <label for="nextStop" class="control-label">Longitiude</label>
            <input class="form-control" value=-4.146372 name="Lng" id="Lng" type="text" required>
        </div>

        
        
        
        <input hidden value="<%= buses[busNo].id %>"" name="busID" id="busID" >
        <input hidden value="<%=[busNo]%>" name="busNum">
        <button class="btn btn-primary" id="submitRoute">Submit</button>
    </form>


<table class="table table-dark">
    <th>Stop Name</th>
    <th>Lat</th>
    <th>Lng</th>
    
    <th> </th>

    <% for(var i=0; i < buses[busNo].route.length; i++) { %>
    <tr>
        <td id="locName"><%= buses[busNo].route[i].locName %></td>
        <td id="lat"><%= buses[busNo].route[i].lat %></td>
        <td id="lng"><%= buses[busNo].route[i].lng %></td>
        <td>
            <form action="/UpdateRoutes" method="POST">
                <input hidden value="<%=[busNo]%>" name="busNum">
                <input hidden name="delete" value="true">
                <input hidden name="routeID" value="<%= buses[busNo].route[i].id %>">
                <button class="btn btn-danger" id="delete" value="<%= buses[busNo].id %>" name="busID">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </form>

            <button onclick="window.location.href='/EditRoute?busIDNo=<%= busNo %>&routeIDNo=<%= i %>'" id="editRoute" type="button" class="btn btn-primary">Edit route</button>
        </td>

    </tr>
    <% } %>
</table>
</body>